<nav class="primary-nav" id="nav">
  <a class="skip-nav" href="#work" tabindex="0">Skip to main content</a>
  <ul class="nav-list">
    <li class="nav-item"><a href="#">Home</a></li>
    <li class="nav-item dropdown-trigger" aria-controls="popup-dropdown">
      <a>Projects</a>
      <div class="popup-dropdown" id="popup-dropdown">
        <a href="#project-1">History of HTML</a>
        <a href="#project-2">HTML Positioning</a>
        <a href="#project-3">Portfolio V2</a>
        <a href="#project-4">Project - Calculator</a>
        <a href="#project-5">HTML History V2</a>
        <a href="#project-6">Laws & Regulations</a>
        <a href="#project-7">HTML Forms</a>
        <a href="#project-8">Portfolio V3</a>
      </div>
    </li>
    <li class="nav-item"><a href="#auto-grid">Auto-grid</a></li>
  </ul>
</nav>
<div class="nav__burger" id="toggleNav">
  <div class="nav__burger-line"></div>
  <div class="nav__burger-line"></div>
  <div class="nav__burger-line"></div>
</div>
